@import url(./fonts.css);

/* Arquivo com variáveis nativas do CSS */
:root {
    /* Variáveis de cores */
    --corPreto: #000000;
    --cor-preto: #000000;
    --cor-cinza: #808080;     
    --cor-cinza-light: #aaaaaa;
    --cor-cinza-medio: #363636;
    --cor-cinza-dark: #292929;     
    --cor-branco: #ffffff;
    --cor-azul: #0000ff;
    --cor-azul-dark: #000ba3;
    --cor-laranja-vermelho: #ff4500;
    --cor-tomate: #ff6347;
    --cor-vermelho: #ff0000;
    --cor-laranja: #ffa500;
    --cor-verde: #008000;
    --cor-verde-dark: #004119;
    --cor-amarelo: #ffff00;

    /* Variáveis de fontes */
    --font-titulo: Poppins-Medium;
    --font-texto: Poppins-Regular;
    --font-alerta: Poppins-Black;
}